*{
    margin: 0;
    padding: 0;
}
.container{
    width:600px;
    height:450px;
    background-color: white;
}
html,body{
    height: 100%;
    background-color:hsl(30, 38%, 92%);
}
.child{
    margin:20px;
}
.p-name{
    letter-spacing: 4px;
}
.p-more{
    font-weight: 700;
}
.price{
    width:200px;
}
#cut-price{
    padding-top:11px;
}
.cart{
    color:white;
    padding:12px;
    font-weight:900;
    gap:10px;
    height:25px;
}
